#clockbody {
text-align:center;
}

#clockcontainer {
display:inline-flex;
}

#clocksettings {
line-height:1;
}

#largeclock {
font-family:DSEG7Classic,LatoLatin,Calibri,sans-serif;
font-weight:700;
font-style:italic;
font-size:132pt;
line-height:0;
}

#smallclock {
font-family:DSEG7ClassicMini,LatoLatin,Calibri,sans-serif;
font-weight:400;
font-style:italic;
font-size:60pt;
line-height:1.2;
text-align:left;
}

#amtext {
font-family:DSEG14ClassicMini,LatoLatin,Calibri,sans-serif;
font-weight:400;
font-style:italic;
font-size:60pt;
}

#date {
font-size:54pt;
font-weight:300;
line-height:1;
}

#weather {
font-size:36pt;
font-weight:400;
line-height:1;
}

#weather b {
font-weight:800;
}

@media screen and (max-width:949px), screen and (max-height:649px){
#largeclock {
font-size:66pt;
}

#amtext,#smallclock {
font-size:30pt;
}

#date {
font-size:27pt;
}

#weather {
font-size:18pt;
}
}
