body {
font-family:LatoLatin,Calibri,sans-serif;
line-height:0;
background-color:#000;
color:#fff;
margin:0;
}

#currenttime {
font-family:DSEG7ClassicMini,LatoLatin,Calibri,sans-serif;
font-style:italic;
}

#currenttime-ampm {
font-family:DSEG14ClassicMini,LatoLatin,Calibri,sans-serif;
font-style:italic;
}

#controlpanel {
position:fixed;
bottom:0;
left:0;
width:100%;
height:auto;
z-index:99;
font-size:24pt;
line-height:1;
padding:10px;
background-color:rgba(0,0,0,0.75);
}

#controlpanel a {
text-decoration:none;
color:#fff;
}

#controlpanelspace{
height:60px
}

#header {
display:flex;
position:sticky;
z-index: 99;
top:0;
text-transform:uppercase;
font-weight:700;
padding-left:10px;
padding-right:10px;
font-size:30pt;
background-color:rgba(0,0,0,0.75);
}

#header div {
width:50%;
height:auto;
}

.left {
text-align:left;
}

.right {
text-align:right;
}

@media screen and (max-width:949px), screen and (max-height:649px){
#header{
font-size:15pt;
}
}
